In [1]:
import pandas as pd
import pyodbc

In [2]:
# Import CSV
data = pd.read_csv ("E:\Study\Python Projects\Python with SQL\msft.csv")   
df = pd.DataFrame(data)

In [15]:
df = df.fillna(value=0)

In [3]:
df.head(-5)

,Name,Rating,No of people Rated,Category,Date,Price
0,Dynamic Reader,3.5,268,Books,07-01-2014,Free
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,08-01-2014,Free
2,BookViewer,3.5,593,Books,29-02-2016,Free
3,Brick Instructions,3.5,684,Books,30-01-2018,Free
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,30-01-2018,Free
...,...,...,...,...,...,...
5312,Assets Resizer for Windows Store,3.5,566,Developer Tools,22-09-2015,₹ 54.00
5313,WWWmaster,3.5,150,Developer Tools,12-01-2018,₹ 489.00
5314,HexToolkit,3.5,214,Developer Tools,25-09-2017,₹ 54.00
5315,Visual Studio Image Scaler,1.0,756,Developer Tools,15-05-2017,₹ 54.00
5316,Get Color,3.0,785,Developer Tools,08-08-2019,₹ 54.50

In [4]:
# Connect to SQL Server
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=SEANPC;'
                      'Database=SEANTEST;'
                      'Trusted_Connection=yes;')

In [5]:
#conn.close()

In [ ]:
cursor = conn.cursor()

# Create Table
# cursor.execute('''
# CREATE TABLE "microsoft_store_test" (
# 	Product_ID int NOT NULL IDENTITY PRIMARY KEY,
# 	Product_Name varchar(50),
# 	Rating float,
#     Number_People_Rated int,
#     Category nvarchar(50),
#     DTTM DateTimeOffset NOT NULL default SYSDATETIMEOFFSET(),
#     Price nvarchar(50)
# )
#                ''')

In [10]:
cursor.execute("SELECT * FROM microsoft_store")
for row in cursor.columns(table='microsoft_store'):
    print (row.column_name)

Product_ID
Product_Name
Rating
Number_People_Rated
Category
DTTM
Price

In [16]:
# Insert DataFrame to Table
for row in df.itertuples():
    cursor.execute('''
                INSERT INTO microsoft_store 
                (Product_Name, 
                Rating, 
                Number_People_Rated, 
                Category, 
                DTTM,
                Price)
                VALUES (?,?,?,?,?,?)
                ''',
                row[1],  #Name, 
                row[2],  #Rating,
                row[3],  #No of people Rated
                row[4],  #Category
                row[5],  #Date
                row[6]  #Price                  
                )

In [17]:
conn.commit()

In [18]:
cursor.execute("SELECT * FROM microsoft_store")